$anthill-grey: rgb(135,138,139);
$anthill-blue: rgb(0,108,182);
$grey-superlight: rgba(250,250,250,0.9);
$grey-light: rgba(245,245,245,0.9);
$grey-faded: rgba(250,250,250,0.1);
$grey-superfaded: rgba(245,245,245,0.1);
$grey-text: rgb(85,88,89);